body {
  display: none; /* Set body display to none until quote is fetched through AJAX */
}
h1 {
  font-weight: 700;
  font-size: 60px;
}

blockquote p, cite {
  color: black;
}

#canvas {
  position:fixed;
  top:0;
  left: 0;
  height: 100%
  width: 100%;
  z-index: -1;
}

.container {
  margin-top: 50px;
}

#quote-container {
  height:200px;
  margin-top: 50px;
}

#right-quote-icon, #left-quote-icon {
  font-size: 100px;
  color: #8d9cad;
}

#left-quote-icon {
  float: right;
}

#button-container {
  display: block;
}